<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Switcheroo.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Switcheroo.Properties.Settings>
        <setting name="Ctrl" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="Shift" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="WindowsKey" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="HotKey" serializeAs="String">
            <value>32</value>
        </setting>
        <setting name="Alt" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="FirstRun" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="AltTabHook" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="RunAsAdmin" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="AutoSwitch" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="EnableHotKey" serializeAs="String">
            <value>True</value>
        </setting>
    </Switcheroo.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>