<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Switcheroo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IDOSwitcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Switcheroo.Properties.Settings>
            <setting name="WindowsKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotKey" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="Alt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ctrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Shift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Exceptions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Program Manager</string>
                        <string>VirtuaWinMainClass</string>
                        <string>Start</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Switcheroo.Properties.Settings>       
    </userSettings>
</configuration>